@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Style.css" />

    <img src="~/image2.png" alt="Image Description" height="400" width="1500" />
</head>
<body>


    <img src="~/image2.png" alt="Image Description" height="400" width="1500" />
   
    <section class="hero">
      
        <div class="hero-container">
            <div class="column-left">
                <h1>Welcome To YellowSalon</h1>
                <p>
                    No contracts or unwanted fees. Exclusive offer for new customers
                    only.
                </p>
                <button>Get Started</button>
            </div>
            <div class="column-right">
       
            </div>
         
        </div>
    </section>
</body>
</html>